<h1>Edit your awesome game</h1>
<br><br>

<div class="edit-game">
  <form action="/games/<%= @game.id  %>/edit" method="POST">
    <input type="hidden" id="hidden" value="patch" name="_method">


    <h4>Select your game's console:
      <select name="game[console_id]">
        <% @consoles.each do |console| %>
          <option <%="selected='selected'" if console == @game.console  %>value="<%= console.id %>" ><%= console.name %></option>
        <% end %>
      </select>
    </h4>
    <h4>Or add a new console: <input type="text" name="console[name]" id="console-name"></h4>
    <br><br>
    <h4>What is the name of your game? <input type="text" value="<%= @game.name %>" name="game[name]"></h4>
    <h4>Your game's genre? <input type="text" value="<%= @game.genre %>" name="game[genre]"></h4>
    <h4>What's your game about? <input type="text" value="<%= @game.info %>" name="game[info]"></h4>
    <br><br>
    <input type="submit" value="Edit" id="edit">

  </form>
</div>
