<p class="error"><%= flash[:error] if flash[:error] %></p>

<div class="games-container">

  <% if @user.games.empty? %>
    <h1>This is where all you're games will be!</h1>

    <table class="games-table">
      <thead>
        <tr>
          <th>
            <form action="/games/new" method="GET">
              <input type="submit" value="Add Game" id="add-game">
            </form>
          </th>
          <th>
            <form action="/signout" method="POST">
              <input type="submit" value="Signout" id="signout">
            </form>
          </th>
        </tr>
      </thead>
    </table>
  <% else %>

    <h2>This is the list of your games! <%=@user.username%></h2>

    <div>
      <table class="games-table">
        <thead>
          <tr>
            <th>Game</th>
            <th>Console</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form action="/games/new" method="GET">
                <input type="submit" value="Add Game" id="add-game">
              </form>
            </td>
            <td>
              <form action="/signout" method="POST">
                <input type="submit" value="Signout" id="signout">
              </form>
            </td>
          </tr>
          <tr></tr>
          <% @user.games.each do |game| %>
            <tr>
              <td><a href="games/<%= game.id %>"><%= game.name %></a></td>
              <td><%= game.console.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>

<% end %>
