<p class="error"><%= flash[:error] if flash[:error] %></p>

<form action="/games/new" method="GET">
<h4><input type="submit" value="Add Game" id="add-game"></h4>
</form>

<% if @user.games.empty? %>
  <h1>This is where all you're games will be!</h1>
<% else %>

  <h1>This is the list of your games <%=@user.username%></h1>
  <div class="games-container">
    <table class="games-table">
      <thead>
        <tr>
          <th>Game</th>
          <th>Console</th>
          <th>Misc.</th>
        </tr>
      </thead>
      <tbody>
        <% @user.games.each do |game| %>
          <tr>
            <td><a href="games/<%= game.id %>"><%= game.name %></a></td>
            <td><%= game.console.name %></td>
            <td>misc.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
